BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 4
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AlignAfterOpenBracket: true
PointerAlignment: Left
# no indents thank u very much
IndentAccessModifiers: false
AccessModifierOffset: -4
AllowShortLoopsOnASingleLine: true
# more stuff
#BinPackParameters: OnePerLine
#BinPackArguments: false
#AllowAllArgumentsOnNextLine: true
#BreakBeforeBraces: Custom
#BraceWrapping:
#  AfterCaseLabel: false
#  AfterClass: false
#  AfterControlStatement: false
#  AfterEnum: false
#  AfterFunction: false
#  AfterNamespace: false
#  AfterObjCDeclaration: false
#  AfterStruct: false
#  AfterUnion: false
#  BeforeCatch: false
#  BeforeElse: false
#  IndentBraces: false
#  SplitEmptyFunction: false
#  SplitEmptyRecord: false
#  SplitEmptyNamespace: false